h1 a {
    background-image: url(logo.png) !important;
    background-position: left top !important;
    width: 50% !important;
    background-size: auto !important;
    margin-left: auto;
    margin-right: auto;
}
#login{
    padding:0;
    width:1204px;
}
.login form {
    background-color: #afd5e2;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.login #nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.login form .forgetmenot {
    display:none !important;
}
#login_error {
    display: none !important;
}
.message {
    display: none !important;
}
#backtoblog {
    display: none !important;
}